{% extends "templates/web.html" %}

{% block title %}Hierarchy{% endblock %}
{% block page_sidebar %}
{% include "templates/pages/web_sidebar.html" %}
{% endblock %}
{% block page_content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/orgchart/2.1.2/css/jquery.orgchart.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/orgchart/2.1.2/css/jquery.orgchart.min.css">

    <style>
    html, body{
        width: 100%;
        height: 100%;
        padding: 0;
        margin:0;
        overflow: hidden;
        font-family: Helvetica;
    }
    #tree{
        width:100%;
        height:100%;
    }
    </style>
    
    <div id="chart-container" style="margin-left: 15%;height: 420px;overflow: auto;width: 100%;"></div>   
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/orgchart/2.1.3/js/jquery.orgchart.min.js"></script>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/orgchart/2.1.3/js/jquery.orgchart.min.js.map"></script>
    

    <script>
        
        var employee_data = {{ employee_data }};
        
        function buildHierarchy(arry) {

            var roots = [], children = {};

            // find the top level nodes and hash the children based on parent
            for (var i = 0, len = arry.length; i < len; ++i) {
                var item = arry[i],
                    parent = item.employee_name_for_report,
                    target = !parent ? roots : (children[parent] || (children[parent] = []));
                
                target.push({ name: item.employee_name, title : item.designation });
                
            }

            // function to recursively build the tree
            var findChildren = function(parent) {
                if (children[parent.name]) {
                    parent.children = children[parent.name];
                    for (var i = 0, len = parent.children.length; i < len; ++i) {
                        findChildren(parent.children[i]);
                    }
                }
            };

            // enumerate through to handle the case where there are multiple roots
            for (var i = 0, len = roots.length; i < len; ++i) {
                findChildren(roots[i]);
            }

            return roots;
        }

        var hierarchy_data = buildHierarchy(employee_data);
        
        (function($) {
            $(function() {
            var ds = hierarchy_data[0];

            var oc = $('#chart-container').orgchart({
                'data' : ds,
                'depth' : 5,
                'nodeContent': 'title'
            });

        });
        })(jQuery);
        
    </script>
{% endblock%}

